h1 {
    font-family: Helvetica, Arial, sans-serif;
    color: #303030;
    font-size: 120px;
    text-align: left;
    position: relative;
    top: -15px;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    color: #303030;
    font-size: 30px
}

section {
  font-family: Helvetica, Arial, sans-serif;
  color: #303030;
  position: relative;
  top: -90px;
  margin-left: 10px;
}

.wrapper {
  position: relative;
  top: -70px;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: 700px;
  background-image: url("Tomahawk launch.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.ship_selection {
  float: left;
  margin-left: 30px;
  background-color: white;
  width: 630px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 15px;
  background-color: #E8E8E8;
}

.target_selection {
  float: left;
  margin-left: 10px;
  background-color: #E8E8E8;
  padding: 20px;
  border-radius: 15px;
}

.grid {
  float: left;
  background-color: #E8E8E8;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-left: 10px;
}

.hit_report {
  float: left;
  background-color: #E8E8E8;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 10px;
}

tr {
  height: 25px;
}

td {
  width: 25px;
}