<!DOCTYPE html>
<html>
  <head>
    <title>BattleShips</title>
    <link rel="stylesheet" type="text/css" href="battleships.css"/>
  </head>
  <body>
  <div class="wrapper">
    <header>
      <h1>Battleships</h1>
    </header>
      <section>
        <%= yield %>
      </section>
  </div>
  </body>
</html>