<h2>Hello, <%= @player.name %></h2>

<p>Please enter the first coordinates and orientations of your ships</p>

<table border=1 width=400>
  <tr>
    <th></th>
    <% letter = "A" %>
    <% 10.times do %>
      <th><%= letter %></th>
      <% letter = letter.next %>
    <% end %>

  </tr>
  <% number = "1" %>
  <% @rows.each do |row| %>
  <tr>
    <th><%= number %></th>
      <% row.each do |coord| %>
        <% if coord.content.is_a?(Ship) %>
          <td bgcolor="grey"></td>
        <% else %>
          <td bgcolor="blue"></td>
        <% end %>  
      <% end %>
    <% number = number.next %>
  </tr>
  <% end %>
</table>


