<h2>Hello, <%= @player.name %></h2>

<p>Please enter the first coordinates and orientations of your ships</p>

<table border=1 width=400>
  <tr>
    <th></th>
    <% letter = "A" %>
    <% 10.times do %>
      <th><%= letter %></th>
      <% letter = letter.next %>
    <% end %>

  </tr>
  <% number = "1" %>
  <% @rows.each do |row| %>
  <tr>
    <th><%= number %></th>
      <% row.each do |coord| %>
        <% if coord.content.is_a?(Ship) %>
          <td bgcolor="grey"></td>
        <% else %>
          <td bgcolor="blue"></td>
        <% end %>  
      <% end %>
    <% number = number.next %>
  </tr>
  <% end %>
</table>

<h2>Aircraft Carrier</h2>
  <form action='/place_ships' method='post'>
    <label for="row">Row</label>
      <select id="row" name="aircraft_carrier_row">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="G">G</option>
        <option value="H">H</option>
        <option value="I">I</option>
        <option value="J">J</option>
      </select>
    <label for="row">Column</label>
      <select id="column" name="aircraft_carrier_column">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    <label for="orientation">Orientation</label>
      <select id="orientation" name="aircraft_carrier_orientation">
        <option value="horizontal">horizontal</option>
        <option value="vertical">vertical</option>
    </select>
    <input type='submit' value="Place Ship">
  </form>

     

